[submodule "umbra/external/byedpi"]
	path = umbra/external/byedpi
	url = https://github.com/hufrea/byedpi.git
[submodule "umbra/external/hev-socks5-tunnel"]
	path = umbra/external/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
